
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Práctica01</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}"/>
    <!-- Otros enlaces a hojas de estilo aquí -->
</head>
<body>
    <!-- Contenido de la plantilla aquí -->
    <header>
        <!-- Encabezado común -->
    </header>

    <section th:fragment="contenido">
        <!-- Contenido específico de cada página -->
    </section>

    <footer>
        <!-- Pie de página común -->
    </footer>

    <script th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.bundle.min.js}"></script>
    <!-- Otros scripts aquí -->
</body>
</html>